body.search {

  //noinspection SassScssResolvedByNameOnly
  main {
    margin: 0;
    .search-container {
      display: flex;
      position: relative;
      top: -6px;
      justify-content: flex-end;
      @media (max-width: $screen-md){
        flex-wrap: wrap;
      }
    }
    .map-container, .oops {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      width: 38%;
      flex: 0 0 38%;
      border-right: 1px solid $gray-lighter;
      &.fixed {
        position: fixed;
      }
      @media (max-width: 1280px) {
        flex: 0 0 45%;
        width: 45%;
      }
      @media (max-width: $screen-md) {
        position: relative !important;
        flex: 0 0 100%;
        order: 2;
      }

      #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    }
    .content-container {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      h2 {
        order: -2;
      }
      .default-content, .custom-content {
        padding-top: 20px;
      }
      .custom-content-top{
        order: -1;
        padding-bottom: 30px;
        padding-top: 0;
      }
      .content-image {
        img {
          max-width: 100%;
        }
      }
      @media (max-height: 900px) {
        .bottom-left-content {
          display: none;
        }
      }
      @media (max-height: 700px) {
        .price-section-left {
          display: none;
        }
      }
    }
    .map-container, .content-container {
      background-color: #F7F7F7;

      h2 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        color: #232740;
        line-height: 28px;
        font-weight: 600;
        margin: unset;
      }
      h3 {
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
        margin-top: 0;
      }
      .title {
        font-size: 18px;
        line-height: 21px;
        padding-top: 0;
      }
      .city-stats {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        .stat-row {
          flex: 0 0 100%;
          display: flex;
          border-bottom: 1px solid #DADADA;
          padding-top: 5px;
          padding-bottom: 5px;
          &.header-row {
            .stat-col {
              font-weight: 600;
            }
          }
          .stat-col {
            flex: 0 0 33%;
          }
        }
      }
    }

    .low-height-show {
      padding-bottom: 30px;
    }
    @media (min-height: 900px) {
      .low-height-show {
        display: none;
      }
    }
    @media (max-height: 700px) {
      .price-section-left {
        display: none;
      }
    }

    @media (min-height: 700px) {
      .price-section-bottom{
        display: none;
      }
    }

    .oops{
      display: table;
      height: 100%;
      z-index: 2;

      @media (max-width: $screen-sm) {
          height: auto;
          top: 450px;
          width: 100%;
      }

      .oops-cell{
        display: table-cell;
        vertical-align: middle;
        padding: 0 10%;
        margin: 0 auto;
        text-align: center;

        img{
          position: relative;
          left: -3px;
        }

        p{
          margin-top: 40px;
          padding-top: 20px;
          position: relative;
          font-family: $font-family-avenir;

          &:before{
            display: block;
            content: '';
            height: 2px;
            background: #444444;
            width: 50px;
            position: absolute;
            left: 50%;
            margin-left: -25px;
            top: -10px;
          }
        }
      }
    }


    .map {
      height: 350px;
      @media (max-width: $screen-sm){
        display: none;
      }

      .title {
        margin-top: 0;
      }

      .crop {
        width: 100px;
        overflow: hidden;
        float: left;
        margin-right: 15px;

        img {
          height: 100px;
        }
      }
    }

    .map,
    .search{
      height: calc(100% - 60px);
      top: 60px;
      padding: 0;

      @media (max-width: $screen-sm){
        width: 100%;
      }
    }

    .search {
      margin: 0;
      height: calc(100% - 60px);
      max-width: 62%;
      flex: 0 0 62%;
      position: relative;
      right: 0;
      bottom: 0;
      box-shadow: -5px 0 19px -9px rgba(0,0,0,0.75);

      @media (max-width: 1280px) {
        flex: 0 0 55%;
        max-width: 55%;
      }

      @media (max-width: $screen-md) {
        width: 100%;
        flex: 0 0 100%;
        position: relative;
        top: 0;
        min-height: unset;
        max-width: unset;
      }

      @media (max-width: $screen-600) {
        width: 100%;
      }

      .h2-container {
        padding: 20px;
        background-color: #F7F7F7;
        h2 {
          margin: unset;
          font-size: 32px;
          line-height: 44px;
          color: #333330;
        }
      }

      .form-container {
        @include make-xs-column(12, 0);
        border-top: 1px solid $gray-lighter;
        background-color: $content-bg;
        @include make-row(0);
        margin-bottom: 1em;
        margin-top: 0;

        .widget-wrapper{
          display: table;
          padding-bottom: 20px;
          width: 100%;
        }

        .widget-label {
          text-transform: uppercase;
          width: 25%;
          display: table-cell;
          vertical-align: middle;
          float: none;
          font-weight: 400;
          text-transform: initial;
          font-size: 14px;
          color: $text-color;
          font-family: $font-family-avenir;
          padding-right: 10px;

          @media (max-width: $screen-sm) {
            display: none;
          }

          span{
            color: #828282;
            font-size: $font-size-small;
            font-family: $font-family-sans-serif;
          }
        }


        form > div {
          @include clearfix();
          padding: 10px 15px;
          border-bottom: 1px solid $gray-lighter;
          display: table;
          width: 100%;
          border: 0;
        }


        .location {
          .widget-wrapper{
            border-bottom: 1px solid $gray-lighter;
          }

          .widget {
            @extend .input-group;
            width: 100%;

            @media (max-width: $screen-sm){
              display: block;
              clear: both;
              float: left;
              position: static;
            }

            #search_moveInDate {
              border-left:0;
              padding-left: 35px;
            }

            #search_search {
              @extend .btn-primary;
            }

            i {
              @extend .fa;
              @extend .fa-calendar;
              @extend .calendar;
              position: absolute;
              padding-left: 8px;
              font-size: 17px;
              z-index: 10;
              right: 54%;
              pointer-events: none;

              top: 31px;
              color: #119da2;
              z-index: 10;
              left: 3px;

              @media (max-width: $screen-sm){
                left: 15px;
              }
            }

            .input-group{
              display: table-cell;
              padding-right: 20px;

              @media (max-width: $screen-sm){
                width: 50%;
                float: left;

                &:nth-child(1){
                  padding: 0;
                  padding-right: 10px;
                }
                &:nth-child(2){
                  padding: 0;
                  padding-left: 10px;
                }
              }
            }

            label{
              font-weight: 500;
              position: relative;
              float: left;
              display: block;
              font-size: 10px;
              color: #828282;

              .form-control{
                display: block;
                border-radius: 3px !important;

                &:last-child{
                  border-radius: 3px !important;
                }
              }
            }

            .submit{
              display: table-cell;
              vertical-align: bottom;

              @media (max-width: $screen-sm){
                clear: both;
                display: block;
                float: none;
                position: absolute;
                bottom: 15px;
                width: calc(100% - 30px);
                margin: 0;

                button{
                  width: 100%;
                }
              }
            }

            .form-control{
              background: #FFFFFF;
              border: 1px solid $gray;
              height: 40px;
              font-size: 14px;

              &#search_moveInDate{
                border: 1px solid $gray;
                border-radius: 3px;
              }
            }

            #search_location {

            }

            #search_moveInDate {

              border-left: 0;
              padding-left: 35px;
            }

            #search_search {
              @extend .btn-primary;
              height: 40px;
            }

          }
        }
        .rest-hidden {
          @include hidden;
        }

        .size {
          border-bottom: 1px solid $gray;
          width: 100%;

          @media (max-width: $screen-sm){
            padding-bottom: 50px;
            padding-top: 0;
          }

          i {
            @extend .fa;
            @extend .fa-question-circle;
            color: $brand-primary;

          }

          .popover {
            .popover-title {
              color: #5f6a7d;
              background-color: #cbe3eb;
              font-size: 15px;
            }
          }

          .widget {
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
            float: none;
            width: 75%;

            .radio {
              display: inline-block;
              margin-right: 30px;

              label {
                font-weight: $headings-font-weight;
              }
            }

            .radio{
              &:nth-child(2){
                margin-right: 0;
              }
            }
            .size-button-wrapper{
              display: table;
              width: 100%;
              table-layout: fixed;
            }


            button {
              @extend .btn;
              font-weight: $headings-font-weight;
              text-align: center;
              padding: 0;
              width: 32%;
              outline: none;

              @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
              @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
              float: none;

              @include background(linear-gradient(-180deg, #FCFCFC 46%, #E4E4E4 100%));
              border: 1px solid $gray;
              border-radius: 3px;
              color: #000000;
              margin-right: 1.5%;
              display: table-cell;

              &:last-of-type{
                margin-right: 0;
              }

              @media (min-width: $screen-sm) {
                float: none;

                >div {
                  pointer-events: none;
                }

                .small {
                  position: relative;
                  left: 50%;
                  margin-left: -18px;
                  width: 37px;
                  height: 45px;
                  background: url("/storage/images/size5x5.png") 0 5px;
                }

                .medium {
                  position: relative;
                  left: 50%;
                  margin-left: -30px;
                  width: 60px;
                  height: 45px;
                  background: url("/storage/images/size10x10.png") 5px 0;
                }

                .large {
                  position: relative;
                  left: 50%;
                  margin-left: -31px;
                  width: 62px;
                  height: 45px;
                  background: url("/storage/images/size10x20.png") -2px -7px;;
                }
              }
            }

            button:focus, button:active, button:hover {
              outline: none;
            }

            button.selected {
              box-shadow: inset -8px 8px 9px -9px rgba(0,0,0,0.75);
            }
          }
        }
      }

      .list {
        padding-right:15px;
        padding-left:15px;
        margin-bottom: 30px;
        background: $gray-lightest;

        @media (max-width: $screen-sm){
            &.0-facilities{
            padding-bottom: 200px;
          }
        }


        h2 {
          color: $gray;
          display: inline-block;
          vertical-align: middle;
          margin: 10px 2px;
          text-transform: capitalize;

          font-weight: 400;
          font-size: 22px;
          color: $text-color;
          margin-bottom: 20px;
          width: 70%;
          line-height: 1.4;

          @media (max-width: $screen-sm){
            width: 100%;
            clear: both;
            float: none;
            text-align: center;
          }
        }

        .sort {
          float: right;
          @include clearfix;

          label {
            @extend .form-inline;
            margin: 0 2px;

            select {
              @extend .form-control;
            }
          }

          @media (max-width: $screen-sm){
            width: 100%;
            clear: both;
            float: none;
            margin: 0 auto 15px auto;

            label{
              width: 100%;
              margin: 0 auto;
            }
          }
        }

        ul {
          list-style-type: none;
          padding: 0;
        }

        .facility {
          @extend .row;
          background: #FFFFFF;
          border: 1px solid $gray;
          box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
          border-radius: 3px;
          margin: 0px 1px 20px 1px;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .facility-wrapper{
            padding: 20px;
            clear: both;
            float: left;
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 100%;
            @media (max-width: $screen-sm){
              padding: 12px;
            }
          }

          .view-more-btn {
            flex: 0 0 15%;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            background: linear-gradient(180deg, #12B3B9 0%, #11A5AB 100%);
            border: unset;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            &:hover {
              background: linear-gradient(to bottom, #139da2 0%, #11878b 100%);
            }
            a {
              color: #FFFFFF;
              text-decoration: unset;
            }
          }
          .more{
            clear: both;
            display: block;
            float: left;
            width: 100%;

            a{
              clear: both;
              display: block;
              float: left;
              width: 100%;
              background: #FAFAFA;
              padding: 10px;
              border-top: 1px solid #ECECEC;
              text-align: center;
              cursor: pointer;
            }
          }

          .image {
            @include make-md-column(2, 0);
            @include make-sm-column(3, 0);
            @include make-xs-column(4, 0);
            max-width: 25%;
            flex: 0 0 20%;
            @media (max-width: $screen-xl) {
              width: 150px;
              height: 150px;
              flex: 0 0 180px;

            }

            @media (max-width: $screen-lg) {
              width: 125px;
              height: 125px;
              flex: 0 0 155px;

            }

            @media (max-width: $screen-md) {
              width: 110px;
              height: 110px;
              flex: 0 0 140px;

            }

            @media (max-width: $screen-sm) {
              width: 100%;
              height: auto;
              flex: 0 0 100%;
              max-width: unset;
            }

            .crop {
              width: 200px;
              height: 200px;
              border: 1px solid $gray-lighter;
              background-color: $gray-lighter;
              overflow: hidden;
              display: flex;
              justify-content: center;
              @media (max-width: $screen-xl) {
                width: 150px;
                height: 150px;
              }

              @media (max-width: $screen-lg) {
                width: 125px;
                height: 125px;
              }

              @media (max-width: $screen-md) {
                width: 110px;
                height: 110px;
              }

              @media (max-width: $screen-sm) {
                width: 100%;
                height: auto;
              }

              @media (max-width: $screen-xxs) {
                width: 75px;
                height: 75px;
              }

              img {
                width: auto;
                height: 200px;

                @media (max-width: $screen-xl) {
                  width: auto;
                  height: 150px;
                }

                @media (max-width: $screen-lg) {
                  width: auto;
                  height: 125px;
                }

                @media (max-width: $screen-md) {
                  width: auto;
                  height: 110px;
                }

                @media (max-width: $screen-sm) {
                  width: 100%;
                  height: auto;
                }

                @media (max-width: $screen-xxs) {
                  width: auto;
                  height: 75px;
                }
              }
            }
          }

          .details {
            @include make-md-column(10, 0);
            @include make-sm-column(9, 0);
            @include make-xs-column(8, 0);
            padding-left: 0;
            flex: 1 0 75%;
            h2 {
              margin-top: 0;
            }

            @media (max-width: $screen-sm) {
              flex: 0 0 100%;
            }

            .details-wrapper{
              float: left;
              width: 75%;

              @media (max-width: $screen-sm){
                width: 100%;
                padding-top: 20px;
              }

              h3{
                font-size: 20px;
                font-weight: 600;
                font-family: $font-family-sans-serif;
                @media (max-width: $screen-sm) {
                  text-align: left;
                }
              }

              p{
                font-size: $font-size-small;
                margin-bottom: 3px;
              }
            }

            .info-links {
              .get-directions {
                a {
                  i {
                    @extend .fa-car;
                    @extend .fa;
                  }
                }
              }

              .call-now {
                // padding-left: 10px;
                cursor: pointer;
                cursor: hand;
                display: none;

                a {
                  i {
                    @extend .fa-phone;
                    @extend .fa;
                  }
                }
              }
            }

            .rating {
              float: right;
              width: 25%;
              text-align: right;
              .reviews {
                text-transform: uppercase;
                font-size: $font-size-small;
              }

              .amex-accepted-logo{
                margin-top: 20px;
              }

              @media (max-width: $screen-sm) {
                @include  pull-right();
                width: 100%;
                float: left;
                text-align: left;
                margin: 5px auto;
              }
            }
          }

          .stack {
            @include make-xs-column(12, 0);
            padding: 0;
            margin-top: $line-height-computed;
            font-weight: $inventory-item-font-weight;
            font-size: 14px;
            flex: 0 0 100%;
            @media (max-width: $screen-sm){
              width: 100%;
            }

            li:first-child {
              border-top: 1px solid $gray-lighter;
            }

            .scarcity {
              @include make-sm-column(12, 0);
              @include make-xs-column(12, 0);
              border-bottom: 1px solid $gray-lighter;
              padding-top: 10px;
              padding-bottom: 10px;
              color: $gray-light;
            }

            .unit {
              @include make-sm-column(12, 0);
              @include make-xs-column(12, 0);
              border-bottom: 1px solid $gray-lighter;
              padding-top: 10px;
              padding-bottom: 10px;
              color: $link-color;

              .description {
                @include make-sm-column(6, 0);
                @include make-xs-column(4, 0);
                @include pull-left;
              }

              .price,
              .out-of-range {
                @include make-sm-column(6, 0);
                @include make-xs-column(8, 0);
                text-align: right;
                font-size: $font-size-base;
                float: right!important;
                p {
                  @include pull-right;
                }
                a {
                  display: block;

                }
              }

              .promotion {
                @include make-sm-column(6, 0);
                @include make-xs-column(4, 0);
                color: $promotion-color;
              }
            }

            .unit:hover {
              cursor: pointer;
              background-color: $yellow-hover-highlight;
            }

            .more {
              @include make-sm-column(12, 0);
              @include make-xs-column(12, 0);
              padding-top: 10px;
              padding-bottom: 10px;
              text-align: center;
              font-weight: normal;
            }
          }
        }

        .show-more {
          @include make-sm-column(12, 0);
          @include make-xs-column(12, 0);
          margin-top: 10px;
          margin-bottom: 25px;
          font-weight: 600;
          text-align: center;

          button {
            @extend .btn-primary;
            width: 100%;
            background: linear-gradient(180deg, #12B3B9 0%, #11A5AB 100%);
            border: unset;
            font-weight: 600;
          }

          button:focus, button:active { outline: none; }

        }

        #custom-content {
          @include clearfix();
          float: left;
          width: 100%;
          padding: 0;

          article {
            background: #FFFFFF;
            padding: 20px;
            border: 1px solid $gray;
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
            border-radius: 3px;
            margin: 0px 1px 20px 1px;
          }
        }
      }
    }
  }
}
