
// Body
$body-bg: #FFF; //#f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #337ab7;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Helvetica Neue", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
$text-color: #333;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-avenir:      "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, sans-serif;
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-medium:        ceil(($font-size-base * 1.10)) !default; // ~16px
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-xl:            ceil(($font-size-base * 1.50)) !default; // ~21px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 1.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.15)) !default; // ~30px
$font-size-h3:            $font-size-base !default; // ~24px
$font-size-h4:            $font-size-base !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:        inherit !default;
$headings-font-weight:        700 !default;
$headings-skinny-font-weight: 300 !default;
$headings-line-height:        1.1 !default;
$headings-color:              inherit !default;

//** font weights for various elements
$inventory-item-font-weight: 700 !default;




// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
