//noinspection SassScssResolvedByNameOnly
body {
  main {
    #consumerlead-form {
      form {
        > div.valid input {
          background: #fff url("/storage/images/checkmark.png") no-repeat right center;
        }

        .submit {
          padding: 10px 0;
        }
      }

      .success {
        p.actions {
          padding: 15px;
          text-align: right;

          a {
            @extend .btn;
          }

          a.directions {
            @extend .btn-primary;
          }
        }
      }
    }
  }
}